apiVersion: v1
kind: ConfigMap
metadata:
  name: platform-config
  namespace: "{{ .Release.Namespace }}"
  labels:
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    app.kubernetes.io/name: "{{ .Chart.Name }}"
    app.kubernetes.io/instance: "{{ .Release.Name }}"
    app.kubernetes.io/managed-by: "{{ .Release.Service }}"
    app.kubernetes.io/component: platform
data:
  database.postgres.host: "{{ .Values.postgresql.fullnameOverride }}.{{ .Release.Namespace }}.svc.cluster.local"
  database.postgres.port: "{{ .Values.postgresql.primary.service.port }}"
  auth.keycloak.host: "{{ .Values.keycloak.fullnameOverride }}.{{ .Release.Namespace }}.svc.cluster.local"
  auth.keycloak.port: "{{ .Values.keycloak.service.ports.http }}"
  auth.keycloak.user: "{{ .Values.keycloak.auth.adminUser }}"
  auth.keycloak.realm: "{{ .Values.global.services.keycloak.realm }}"
  auth.keycloak.audience: "{{ .Values.global.services.keycloak.audience }}"
  auth.keycloak.adminClientId: "{{ .Values.global.services.keycloak.adminClientId }}"
  auth.keycloak.authClientId: "{{ .Values.global.services.keycloak.authClientId }}"
  auth.keycloak.url: "http://{{ .Values.keycloak.fullnameOverride }}.{{ .Release.Namespace }}.svc.cluster.local:{{ .Values.keycloak.service.ports.http }}"
  auth.keycloak.issuerUri: "https://{{ .Values.keycloak.ingress.hostname }}/realms/{{ .Values.global.services.keycloak.realm }}"
  auth.keycloak.jwksUri: "https://{{ .Values.keycloak.ingress.hostname }}/realms/{{ .Values.global.services.keycloak.realm }}/protocol/openid-connect/certs"
  messaging.rabbitmq.vhost: /  
  messaging.rabbitmq.host: "{{ .Values.rabbitmq.fullnameOverride }}.{{ .Release.Namespace }}.svc.cluster.local"
  messaging.rabbitmq.port: "{{ .Values.rabbitmq.service.ports.amqp }}"
  messaging.rabbitmq.user: "{{ .Values.rabbitmq.auth.username }}"
  messaging.rabbitmq.exchange: "{{ .Values.global.services.rabbitmq.exchange }}"
  messaging.rabbitmq.dlqExchange: "{{ .Values.global.services.rabbitmq.dlqExchange }}"
  messaging.rabbitmq.messageTTL: "{{ .Values.global.services.rabbitmq.messageTTL }}"
  observability.otelCollector.grpcEndpoint: "http://{{ index .Values "opentelemetry-collector" "fullnameOverride" }}.{{ .Release.Namespace }}.svc.cluster.local:{{ index .Values "opentelemetry-collector" "ports" "otlp" "servicePort" }}"
  observability.otelCollector.httpEndpoint: "http://{{ index .Values "opentelemetry-collector" "fullnameOverride" }}.{{ .Release.Namespace }}.svc.cluster.local:{{ index .Values "opentelemetry-collector" "ports" "otlp-http" "servicePort" }}"

