grafana:
  fullnameOverride: "grafana"

  replicaCount: 1

  admin:
    existingSecret: grafana-auth
    userKey: admin-user
    passwordKey: admin-password

  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 256Mi

  securityContext:
    runAsNonRoot: true
    runAsUser: 472
    runAsGroup: 472
    fsGroup: 472

  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop: ["ALL"]
    seccompProfile:
      type: RuntimeDefault

  initChownData:
    enabled: true
    securityContext:
      runAsUser: 0
      allowPrivilegeEscalation: false
      seccompProfile:
        type: RuntimeDefault
      capabilities:
        add: ["CHOWN", "DAC_OVERRIDE", "FOWNER"]
        drop: []

  persistence:
    enabled: true
    type: pvc
    size: 1Gi
    accessModes: ["ReadWriteOnce"]

  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Prometheus
          type: prometheus
          access: proxy
          url: http://kps-prometheus:9090
          uid: prometheus
          isDefault: true
          jsonData:
            timeInterval: 30s
            queryTimeout: 60s
            httpMethod: POST
        - name: Loki
          type: loki
          access: proxy
          url: http://loki:3100
          uid: loki
          jsonData:
            maxLines: 1000
            timeout: 60s
        - name: Tempo
          type: tempo
          access: proxy
          url: http://tempo:3200
          uid: tempo
          jsonData:
            timeout: 60s
            tracesToLogs:
              datasourceUid: loki
              tags: [job, instance, pod, namespace]
              mappedTags: [job]
              mapTagNamesEnabled: false
              spanStartTimeShift: 1h
              spanEndTimeShift: 1h
            tracesToMetrics:
              datasourceUid: prometheus
              tags: [job, instance]
              queries:
                - name: Sample query
                  query: sum(rate(traces_spanmetrics_latency_bucket{$$__tags}[5m]))
            serviceMap:
              datasourceUid: prometheus
            search:
              hide: false
            nodeGraph:
              enabled: true

  service:
    type: ClusterIP
    port: 80
    targetPort: 3000

  ingress:
    enabled: true
    ingressClassName: nginx
    hosts: ["grafana.127.0.0.1.nip.io"]
    path: /
    pathType: Prefix
    servicePort: 3000
