rabbitmq:
  image:
    registry: docker.io
    repository: bitnamilegacy/rabbitmq
    tag: 4.1.3

  fullnameOverride: "rabbitmq"

  auth:
    username: "admin"
    existingPasswordSecret: "rabbitmq-auth"
    existingSecretPasswordKey: "admin-password"
    existingErlangSecret: ""

  plugins: "rabbitmq_management rabbitmq_prometheus rabbitmq_shovel rabbitmq_shovel_management"

  clustering:
    enabled: false
    rebalance: false

  replicaCount: 1

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  podSecurityContext:
    enabled: true
    fsGroupChangePolicy: Always
    sysctls: []
    supplementalGroups: []
    fsGroup: 1001

  containerSecurityContext:
    enabled: true
    seLinuxOptions: {}
    runAsUser: 1001
    runAsGroup: 1001
    runAsNonRoot: true
    allowPrivilegeEscalation: false
    readOnlyRootFilesystem: true
    capabilities:
      drop: ["ALL"]
    seccompProfile:
      type: "RuntimeDefault"

  persistence:
    enabled: true
    size: 1Gi
    accessModes: ["ReadWriteOnce"]

  livenessProbe:
    enabled: true
    initialDelaySeconds: 120
    periodSeconds: 30
    timeoutSeconds: 20
    failureThreshold: 6
  readinessProbe:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 30
    timeoutSeconds: 20
    failureThreshold: 3

  service:
    type: ClusterIP
    ports:
      amqp: 5672
      amqpTls: 5671
      dist: 25672
      manager: 15672
      epmd: 4369
      metrics: 15692

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      interval: 30s
      additionalLabels:
        release: prometheus

  ingress:
    enabled: true
    ingressClassName: nginx
    hostname: rabbitmq.127.0.0.1.nip.io
    path: /
    pathType: Prefix
    servicePort: 15672
